<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="file_name" value="$(find pointmap)/map/pointcloudmap_3831137000.pcd" />
  <arg name="rvizconfig" default="$(find point_cloud_map_server)/rviz/point_cloud_map_server.rviz" />
  
  <!-- point_cloud_map_server -->
  <node pkg="point_cloud_map_server" type="map_loader" name="point_cloud_map_loader" args="$(arg file_name)" output="screen">
  </node>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
